* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 1440px;
  height: 1046px;
  background: #ffffff;
}

h1 {
  position: absolute;
  width: 365px;
  height: 93px;
  left: 124px;
  top: 91px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 101.38%; /* or 56px */
  color: #000000;
}

#main-text {
  position: relative;
  width: 662px;
  height: 374px;
  left: 124px;
  top: 202px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%; /* or 36px */
  color: #000000;
}

#img_1 {
  position: absolute;
  width: 314px;
  height: 315px;
  left: 976px;
  top: 226px;
  z-index: 1;
}

#ellipse {
  position: absolute;
  width: 366px;
  height: 59px;
  left: 950px;
  top: 511px;
  border-radius: 50%;
  background: #efefef;
}

#img_2 {
  position: absolute;
  width: 232px;
  height: 203px;
  left: 124px;
  top: 670px;
}

#first-header {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 488px;
  top: 740px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */

  color: #000000;
}

#first-p {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 488px;
  top: 780px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  color: #000000;
}

#second-header {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 733px;
  top: 740px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */

  color: #000000;
}

#second-p {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 733px;
  top: 780px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  color: #000000;
}

#third-header {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 976px;
  top: 740px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */

  color: #000000;
}

#third-p {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 976px;
  top: 780px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  color: #000000;
}

@media (max-height: 633px) and (max-width: 1440px) {
  .container {
    position: relative;
    width: 834px;
    height: 633px;
  }

  h1 {
    position: absolute;
    width: 211.4px;
    height: 53.86px;
    left: 72px;
    top: 56px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    /* or 32px */
  }

  #main-text {
    position: absolute;
    width: 383.41px;
    height: 216.61px;
    left: 72px;
    top: 120.29px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
  }

  #img_1 {
    position: absolute;
    width: 181.86px;
    height: 182.44px;
    left: 565.45px;
    top: 134.19px;
    z-index: 1;
  }

  #ellipse {
    /* position: absolute; */
    width: 211.98px;
    height: 34.17px;
    left: 550.39px;
    top: 299.25px;
  }

  #img_2 {
    display: none;
  }

  #first-header {
    position: absolute;
    width: 86.88px;
    height: 22.59px;
    left: 72px;
    top: 407px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
  }

  #first-p {
    position: absolute;
    width: 86.88px;
    height: 22.59px;
    left: 72px;
    top: 430.17px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    /* or 14px */
  }

  #second-header {
    position: absolute;
    width: 86.88px;
    height: 22.59px;
    left: 213.9px;
    top: 407px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
  }

  #second-p {
    position: absolute;
    width: 108px;
    height: 23px;
    left: 214.1px;
    top: 429.95px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    /* or 14px */
  }

  #third-header {
    position: absolute;
    width: 86.88px;
    height: 22.59px;
    left: 354.63px;
    top: 407px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
  }

  #third-p {
    position: absolute;
    width: 86.88px;
    height: 22.59px;
    left: 354.63px;
    top: 430.17px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    /* or 14px */
  }
}

@media (max-width: 834px) {
  .container {
    position: relative;
    width: 375px;
    height: 776px;
    background: #ffffff;
  }

  h1 {
    width: 170.08px;
    height: 43.34px;
    left: 36px;
    top: 56px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    /* or 26px */
  }

  #main-text {
    position: absolute;
    width: 308.47px;
    height: 174.27px;
    left: 36px;
    top: 107.72px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
  }

  #img_1 {
    position: absolute;
    width: 170.55px;
    height: 160.29px;
    left: 101px;
    top: 338px;
  }

  #ellipse {
    /* z-index: -1; */
    border: 10%;
    position: absolute;
    width: 195px;
    height: 30px;
    left: 88px;
    top: 483px;
  }

  #img_2 {
    display: none;
  }

  #first-header {
    position: absolute;
    width: 69.9px;
    height: 18.17px;
    left: 35px;
    top: 544px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
  }

  #first-p {
    position: absolute;
    width: 86px;
    height: 18px;
    left: 35px;
    top: 563px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    /* or 13px */
  }

  #second-header {
    position: absolute;
    width: 69.9px;
    height: 18.17px;
    left: 154.16px;
    top: 544px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
  }

  #second-p {
    position: absolute;
    width: 86.89px;
    height: 18.5px;
    left: 154.33px;
    top: 562.46px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    /* or 13px */
  }

  #third-header {
    position: absolute;
    width: 69.9px;
    height: 18.17px;
    left: 35px;
    top: 615px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
  }

  #third-p {
    position: absolute;
    width: 76px;
    height: 18px;
    left: 35px;
    top: 634px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    /* or 13px */
  }
}
